<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Plantillas</h1>
        </header>

        <section>
            <img src="../Templates/1/icon.png" width="330px">
    
            <button><a href="../formBasicData.html">Elegir plantilla</a></button>
            <button>Siguiente plantilla</button>

        </section>

        <footer>
            <div class="menu">
                <ul>
                    <li>
                        <a href="../../index.html">
                            <div class="icon">
                                <img src="../../images/mainMenu/house.svg" id="color" class="fas fa" alt="">
                            </div>
                            <div class="name" data-text="Home">Inicio</div>
                        </a>
                    </li>

                    <li>
                        <a href="plantillas.html">
                            <div class="icon"  >
                                <img src="../../images/mainMenu/application.svg" id="achicarIcono" class="fas fa" alt="">
                            </div>
                            <div class="name" data-text="Template">Plantillas</div>
                        </a>
                    </li>
                    <li>
                        <a href="../formBasicData.html">
                            <div class="icon">
                                <img src="../../images/mainMenu/user.svg" class="fas fa" alt="">
                            </div>
                                <div class="name" data-text="Datos">Datos</div>
                            </a>
                        </li>
            
                    <li>
                        <a href="#">
                            <div class="icon">
                                    <img src="../../images/mainMenu/download.svg" class="fas fa" alt="">
                            </div>
                            <div class="name" data-text="watchDownload">Descargar</div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <div class="icon">
                                    <img src="../../images/mainMenu/send.svg" class="fas fa" alt="">
                            </div>
                            <div class="name" data-text="Send">Enviar</div>
                        </a>
                    </li>
                </ul>
        </footer>
    </div>
<script src="js/script.js"></script>

</body>
</html>